html, body {padding:0;margin:0; font-family:Georgia, serif; color:#4a443d; text-align:center;}
a {color:#4a443d; text-decoration:none}
body {overflow:auto; height:7600px; }
#skrollr-body {width:100%; height:100%; position:fixed; }
#skrollr-body  div {overflow:hidden; position:absolute; }
.centered { top:0; bottom:0; left:0; right:0; margin:auto; }
#fireplace {background: #e7685d url('../images/xmas-fireplace.jpg') center center no-repeat ; z-index:5;}
#stocking {background: #7e2020 url('../images/stockings.jpg') center center no-repeat ; z-index:4;  }
#dreaming { background:url('../images/snowman.jpg') center center no-repeat; z-index:2; width: 100% }
.ribbon {background:#49675f; height:40px; top:50%; margin-top:-20px; z-index:3; }
#pattern2 { background:url('../images/pattern.png'); z-index:1;}
#scene5 {background: #000 url('../images/santa-moon.jpg') center center no-repeat; z-index: 4; width: 100%e  }
/*#wish3 {background:#8dbaae url('../images/snowman.jpg') no-repeat center center; z-index:6; border-radius:50%;}
*/#info {background:#fff; width:20%; height:50px; bottom:auto; z-index:10; font-size:22px;  line-height:50px;}

/*This snowfall part of code gotten and modified from http://codepen.io/NickyCDK/pen/AIonk 
Author:Nicky Christensen */
#snow {
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.gamename {
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	font-weight: bold;
	text-align: left;
	font-size: 6rem;
}


